.App{
  height: 100vh;
}

.battlefield-table{
  min-width: 350px;
  min-height: 350px;
  border: 2px rgb(1, 60, 255) ridge;
  border-collapse: collapse;
  user-select: none;
  margin: 10px;
}

.battlefield-cell{
  width: 2em;
  height: 2em;
}

.battlefield-cell_hover{
  background-color: lightblue;
}

.battlefield-cell_busy{
  background-color: blue;
  /* color: black; */
  width: 2em;
  height: 2em;
  padding-right: 0px;
  padding-bottom: 0px;
  left: 0px;
  top: 0px;
  margin: -2px;
}

.ship_select{
  width: 350px;
  border: 1px blue solid;
  margin: 10px;
}

.bay{
  border: 1px blue solid;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.bay p{
  font-size: 30px;
  margin: 10px 5px;
}

.ship{
  margin: auto 10px;
  height: 2em;
  background-color: rgb(24, 1, 230);
  opacity: 80%;
}

.opacity{
  opacity: 70%;
}

.ship_4x{
  width: 8em;
  border: 1px blue solid;
}

.ship_3x{
  width: 6em;
  border: 1px blue solid;
}

.ship_2x{
  width: 4em;
  border: 1px blue solid;
}

.ship_1x{
  width: 2em;
  border: 1px blue solid;
}